body {
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
  }
  .clear {
    clear: both;
    content: ""
  }

  board::before, board::after{
    box-sizing: border-box;
  }

  .board {
    text-align: center;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .game-info {
    min-height: 50px;
  }
  
  .cell {
    background: #7b7b7b;
    border: 0.1rem solid #fff;
    float: left;
    line-height: 5rem;
    height: 5rem;
    text-align: center;
    width: 5rem;
    cursor: pointer;
    border-radius: 0.6rem;
    color: #fff;
    font-weight: 600;

  }
  
  .cell:focus {
    outline: none;
  }
  
  .cell.hidden {
    background: #2e2829;
    display: inline !important;
  }
  
  .is-flag,
  .is-mine {
    color: #fc543c;
  }

  .highlight-bomb {
    background: yellow !important
  }

  .highlight-safe {
    background: green !important
  }

  .game-title {
    text-align: center;
    padding-bottom: 1rem;
  }

  .hint-buttons {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    border-radius: 1rem;
    line-height: 3rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(44, 62, 80);
    color: white;
    width: 14rem;
  }

  .hint-buttons-container {
    align-items: center;
    text-align: center;
  }

  .hint-buttons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }