/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

.background--skyBlue {
  background-color: rgb(52, 152, 219);
}

.background--cloud {
  background-color: rgb(236, 240, 241);
}

.section__border--black {
  border:1px solid;
  border-color: slategray;
  border-width: 0.1rem;
}
.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', serif;
  line-height: 2.8rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  letter-spacing: .1rem;
}

a {
  color: rgb(52, 152, 219);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

/*
  Helpers
*/

.display--inline {
  display: inline;
}


.display--inline-block {
  display: inline-block;
}

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}

/* HEADER */
.title__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.title__header--text {
  margin-right: 10rem;
}

.title__header--container {
  width: 100%;
  height: 100%;
  bottom:1rem;
}

.title__header--nav {
  width: 100%;
  height:100%;
}

.title__header--item {
  width: 100%;
  height:100%;
}

/*
  Sections
*/

.section {
  font-size: 4.2rem;
  min-height: 10vh;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2rem;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 75%;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 35rem;
  width: 35rem;
}

.section__exampleWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 4rem;
}

.section__example {
  overflow: hidden;
  position: relative;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  font-size: 80%;
}

.section__exampleTitle{
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  width: 90%;
  -ms-flex: 1 1;
  flex: 1 1;
  padding: 1rem 1.5rem;
  font-weight: 400;
}

.section__exampleImage {
  opacity: 0.25;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}


.section__exampleText {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left:1rem;
  padding-right:1rem;
  font-weight: 400;
}

.section__exampleButton {
    padding-top: 1rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section__exampleTool {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3rem;
}


.section__exampleButton:visited {
  color:white;
}

.section__exampleButtonLayout {
  padding: 1rem 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  margin-left: 1rem;
}

/*
  Header
*/

.section__heading--largest {
  float: left;
  font-size: 5rem;
  margin-left: 2rem;
}

.section--social {
  float: right;
  margin-right: 2rem;
  margin-top: 3rem;
}

.social{
  margin-right: 1.4rem;
}

.social:hover {
  color: rgb(52, 152, 219);
  text-decoration: none;
}

.social:visited {
  color: rgb(52, 152, 219);
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}

/* PROJECT INFO */
.project {
  font-size: 4.2rem;
  min-height: 10vh;
  position: relative;
  padding-top: 0;
  padding-bottom: 5rem;
}

.project--description {
  font-size: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.project--demo-header {
  font-size: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.project--short-description {
  font-size: 1.75rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

.project--info {
  padding-left: 16.0rem;
  padding-right: 16.0rem;
}

.main__body {
  margin-right: 30rem;
  margin-left: 30rem;
  background-color: white;
}

@media (max-width: 2048px) { 
  .main__body {
    margin-right: 20rem;
    margin-left: 20rem;
    background-color: white;
  }
  
  .project--description {
    font-size: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .project--short-description {
    font-size: 1.75rem;
    padding-left: 6rem;
    padding-right: 16rem;
  }
}

@media (max-width: 1444px) { 
  .main__body {
    margin-right: 10rem;
    margin-left: 10rem;
    background-color: white;
  }
  
  .project--description {
    font-size: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  
  .project--short-description {
    font-size: 1.75rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.main__background {
  position: absolute;
  top:0;
  background-color: rgb(236, 240, 241);
}

.fa__text {
  font-size: 3.25rem;
  bottom: 0.5rem;
}
