/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

.footer,
.background--skyBlue {
  /* background-color: rgb(52, 152, 219); */
  
  background-color:#45a29e;
}

.background--green {
  background-color: #45a29e;
}


.background--cloud {
  background-color: rgb(236, 240, 241);
}

.background--darkgrey {
  background-color: rgb(44, 62, 80);
}

.background--gray {
  background-color: #3c3c3c;
}


.color--green {
  color: #45a29e;
}

.color--blue {
  color: #52b3d9;
}



.section__border--black {
  border-top: 1px solid #dadada;
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

.title__header {
  background-color: rgb(44, 62, 80, 0.98);  
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', serif;
  line-height: 2.8rem;
  margin: 0;
  min-width: 600px;
  background-color: rgb(236, 240, 241);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  letter-spacing: .1rem;
}

a {
  color: rgb(52, 152, 219);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

/*
  Helpers
*/

.display--inline {
  display: inline;
}


.display--inline-block {
  display: inline-block;
}

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}

/* HEADER */
.title__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid rgb(236, 240, 241);
}

.title__header--text {
  margin-right: 10rem;
}

.title__header--container {
  width: 75%;
  height: 100%;
  bottom:1rem;
}

.title__header--nav {
  width: 100%;
  height:100%;
}

.title__header--item {
  width: 100%;
  height:100%;
}

.title__header--text {
  font-size: 3rem;
  color: rgb(236, 240, 241);
  margin-left: 2rem;
  float: left;
}

.footer {
  overflow: hidden;
  bottom: 0;
}

.footer--copyright {
  font-size: 1.75rem;
  text-align: center;
  color: rgb(236, 240, 241);
}

/*
  Sections
*/

.section {
  font-size: 3rem;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2rem;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 75%;
}

.section__text--centered {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 8rem;
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 35rem;
  width: 35rem;
}

.section__exampleWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 4rem;
}

.section__example {
  overflow: hidden;
  position: relative;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  font-size: 80%;
}

.section__exampleTitle{
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  width: 90%;
  -ms-flex: 1 1;
  flex: 1 1;
  padding: 1rem 1.5rem;
  font-weight: 400;
}

.section__exampleImage {
  opacity: 0.25;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}


.section__exampleText {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left:1rem;
  padding-right:1rem;
  font-weight: 400;
}

.section__exampleButton {
    padding-top: 1rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section__exampleTool {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3rem;
}


.section__exampleButton:visited {
  color:white;
}

.section__exampleButtonLayout {
  padding: 1rem 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  margin-right: 1rem;
  right:0;
}

.section__heading--tall {
  line-height: 8rem;
}

/*
  Header
*/

.section--social {
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
}

.social{
  margin-right: 1.4rem;
  color: rgb(236, 240, 241);
}

.social:hover {
  color: rgb(236, 240, 241);
  text-decoration: none;
}

.social:visited {
  color: rgb(236, 240, 241);;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 2.5rem;
}

/* PROJECT INFO */
.project {
  font-size: 4.2rem;
  min-height: 10vh;
  position: relative;
  padding-top: 0;
  padding-bottom: 5rem;
}

/* PROJECT INFO */
.blog-post {
  font-size: 4.2rem;
  min-height: 10vh;
  position: relative;
  padding-top: 0;
  padding-bottom: 5rem;
}

.project--demo-header {
  font-size: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.project--info {
  padding-left: 5rem;
  padding-right: 5.0rem;
}

.main__body:last-child {
  margin-bottom:0;
}

.main__body--element {
  margin-top: 4rem;
  padding-right: 5rem;
}

.main__body {
  padding-bottom: 4rem;
}


.project--description {
  font-size: 2rem;
  padding-left: 50rem;
  padding-right: 20rem;
}


.project--short-description {
  font-size: 1.75rem;
  padding-left: 51rem;
  padding-right: 21rem;
}

@media (max-width: 1444px) { 
  /* .main__body {
    margin-right: 10rem;
    margin-left: 10rem;
  } */
  
  .project--description {
    font-size: 2rem;
    padding-left: 14rem;
    padding-right: 8rem;
  }
  
  .project--short-description {
    font-size: 1.75rem;
    padding-left: 15rem;
    padding-right: 9rem;
  }
}

.main__background {
  position: inherit;
  padding-top: 6.8rem;
  background-color: rgb(236, 240, 241);
}

.fa__text {
  font-size: 3.25rem;
  bottom: 0.5rem;
}



.bubble__header--text {
  font-size: 3rem;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section__border--radius {
  border-radius: 0.3rem;
}

.background--office-stock {
  background: url(../images/office-stock3.jpg) no-repeat center center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 80vh;
  background-color: rgb(44, 62, 80);
}

.intro {
  padding: 6rem;
}


.intro--item {
  top: 40%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0%, -50%);
}

.intro--item-text {
  line-height: 5rem;
  font-size: 3rem;
}

.intro ul {
  display: inline;
  list-style-type:none;
  overflow: hidden;
  align-items: center;
}


.intro ul li{
  text-align:center;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 3rem;
  line-height: 4rem;
}

.intro--header-text {
  line-height: 13rem;
  font-size: 12rem;
}

.intro--section {
  padding: 1rem;
}

@media (max-width: 888px) { 

  .intro--item-text {
    line-height: 4rem;
    font-size: 3rem;
  }

  .intro ul li{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  .intro--header-text {
    line-height: 10rem;
    font-size: 9rem;
  }
  
  .intro--section {
    padding: 1rem;
  }

  
  @media (max-height: 610px) { 

    .intro--item-text {
      line-height: 4rem;
      font-size: 3rem;
    }

    .intro ul li{
      font-size: 2.5rem;
      line-height: 3rem;
    }
    
    .intro--header-text {
      line-height: 10rem;
      font-size: 9rem;
    }
    
    .intro--section {
      padding: 1rem;
    }
  }
}

@media (max-height: 600px) { 

  .intro--item-text {
    line-height: 4rem;
    font-size: 3rem;
  }

  .intro ul li{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  .intro--header-text {
    line-height: 10rem;
    font-size: 9rem;
  }
  
  .intro--section {
    padding: 1rem;
  }
}


@media (max-height: 425px) { 

  .intro--item-text {
    line-height: 3rem;
    font-size: 2rem;
  }

  .intro ul li{
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .intro--header-text {
    line-height: 7rem;
    font-size: 7rem;
  }
  
  .intro--section {
    padding: 1rem;
  }
}



@media (max-height: 316px) { 

  .intro--item-text {
    line-height: 2rem;
    font-size: 1rem;
  }

  .intro ul li{
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .intro--header-text {
    line-height: 5rem;
    font-size: 5rem;
  }
  
  .intro--section {
    padding: 1rem;
  }
}


.about--text-wrapper {
  border: 1rem dashed #45a29e;
  padding: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 50%;
}

.about--section h2 {
  font-size: 6rem;
  padding-bottom: 8rem;
}

.about--section {
  padding: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}